<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jackcai.bigchua">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tktk_img"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainTabBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity android:name=".UserVerify.LoginActivity" />
        <activity android:name=".UserVerify.RegisterActivity" />
        <activity android:name=".news.WebBrowser" />
        <activity android:name=".pics.ViewPicsActivity" />
        <activity android:name=".guidepage.ActivityEntryPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".guidepage.GuidePage">

        </activity>
    </application>

</manifest>